{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}



<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

           <div class="col-lg-12">
                <div class="row">
                    {% for property in user_favourites %}
                    <div class="col-md-3 ftco-animate">
                        <div class="destination">
                            <a href="{{property.gendre.get_absolute_url}}"
                                class="img img-2 d-flex justify-content-center align-items-center"
                                style="background-image: url({{property.gendre.image.url}});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="{{property.gendre.get_absolute_url}}">{{property.gendre.name}}</a></h3>
                                        <h3>{{movie.time}}</h3>
                                    </div>
                                    <div class="two">
                                        <span class="price per-price">{{property.gendre.rate}}<br><small>rate</small></span>
                                    </div>
                                </div>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i></i>{{property.gendre.quality}}</span>
                                    <span class="ml-auto"><a href="{{property.gendre.get_absolute_url}}">Watch Now</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
{% endblock body %}