{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            {% for image in object.all_image.all  %}
                            <div class="item">
                                <div class="hotel-img" style="background-image: url({{image.image.url}});"></div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12 hotel-single mt-4 mb-5 ftco-animate">
                            <h1>{{object}}</h1>
                            <hr>
                            <p class="rate mb-5">
                                <span class="loc"><i class="icon-map"></i> {{object.created_at}}</a></span>

                            </p>
                            <span>
                                <h6>Quality : {{object.quality}}</h6>
                                <h6> time : {{object.time}}</h6>
                                <h6>Age_Group : {{object.age_group}}</h6>
                                <h6>rate :
                                    {{object.rate}}</h6>
                            </span>
                            <hr>
                            <h4>Story</h4>
                            <h6>{{object.description|safe}}</h6>
                            <hr>
                            {% if object.tag.all %}
                            <h4 class="mb-3">Tags</h4>
                            {% for tag in object.tag.all %}
                            <a href="#" class="tag-cloud-link">{{tag}}</a>&nbsp;
                            &nbsp;
                            {% endfor %}
                            {% else %}
                            {% endif %}
                            <hr>
                            <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
                                <h4 class="mb-5">Add To Favorite</h4>
                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                    <button type="submit" class="btn btn-primary">Add To Favorite</button>
                                    {% endbuttons %}
                                </form>
                            </div>
                            <hr>
                            <div class="col-md-12 hotel-single ftco-animate mb-5 mt-5">
                                <h4 class="mb-4">Watch Another</h4>
                                <div class="row">
                                    {% for property in related  %}
                                    <div class="col-md-4">
                                        <div class="destination">
                                            <a href="{{property.get_absolute_url}}" class="img img-2"
                                                style="background-image: url({{property.image.url}});"></a>
                                            <div class="text p-3">
                                                <div class="d-flex">
                                                    <div class="one">
                                                        <h3><a href="{{property.get_absolute_url}}">{{property}}</a>
                                                        </h3>
                                                        <h3>{{property.time}}</h3>
                                                    </div>
                                                    <div class="two">
                                                        <span class="price per-price">{{property.rate}}<br>rate</span>
                                                    </div>
                                                </div>
                                                <hr>
                                                <p class="bottom-area d-flex">
                                                    <span> {{property.quality}}</span>
                                                    <span class="ml-auto"><a href="{{property.get_absolute_url}}">Watch
                                                            Now</a></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- .col-md-8 -->
            </div>
        </div>
</section> <!-- .section -->
<div id="disqus_thread"></div>

{% endblock body %}