{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}




<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar">
                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">SEARCH</h3>
                        <form   class="form">
							{% csrf_token %}
							{% bootstrap_form filter.form %}
							{% buttons %}
							<button type="submit" class="btn btn-primary">Search</button>
							{% endbuttons %}
						</form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for movie in object_list %}
                    <div class="col-md-4 ftco-animate">
                        <div class="destination">
                            <a href="{{movie.get_absolute_url}}"
                                class="img img-2 d-flex justify-content-center align-items-center"
                                style="background-image: url({{movie.image.url}});">
                                <div class="icon d-flex justify-content-center align-items-center">
                                    <span class="icon-search2"></span>
                                </div>
                            </a>
                            <div class="text p-3">
                                <div class="d-flex">
                                    <div class="one">
                                        <h3><a href="{{movie.get_absolute_url}}">{{movie}}</a></h3>
                                        <h3>{{movie.time}}</h3>
                                    </div>
                                    <div class="two">
                                        <span class="price per-price">{{movie.rate}}<br><small>rate</small></span>
                                    </div>
                                </div>
                                <p>{{movie.description|safe|truncatewords:5}}</p>
                                <hr>
                                <p class="bottom-area d-flex">
                                    <span><i ></i>{{movie.quality}}</span>
                                    <span class="ml-auto"><a href="{{movie.get_absolute_url}}">Watch Now</a></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            {% if is_paginated %}
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{page_obj.previous_page_number}}">&lt;</a></li>
                                {% else %}
                                    <li class="disabled"><span>&lt;</span></a></li>
                                {% endif %}

                                {% for i in paginator.page_range  %}
                                    {% if page_obj.number == i%}
                                        <li class="active"><span>{{i}}</span></li>
                                    {%else%}
                                        <li><a href="?page={{i}}">{{i}}</a></li> 
                                    {% endif %}                                      
                                
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a href="?page={{page_obj.next_page_number}}"><span>&gt;</span></a></li>
                                {% else %}
                                    <li class="disabled"><span>&gt;</span></a></li>
                                {% endif %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->


{% endblock body %}